<div class="content--inner">
	<h1 class="c-page-title u-margin-bottom" translate>Search</h1>

	<div class="u-margin-bottom">
		<h3 class="page-section-title h3-structure u-margin-bottom" translate>Reindex search</h3>
		<p translate>Clear the search and reindex all items.</p>
	</div>

	<div class="u-margin--bottom clearfix" data-ng-if="reindexing" style="height: 100px">
		<loader loading-text="{{'Indexing.' | translate}}" css="['full', 'relative']"></loader>
	</div>

	<div class="c-buttonGroup">
		<button class="c-button c-button--alpha c-button--md" data-ng-click="reindexSearch()" data-ng-disabled="reindexing">Reindex search</button>
	</div>
</div>
