<div class="clearfix" ng-if="status.loading" style="height: 100px;">
	<loader loading-text="{{'Loading.' | translate}}" css="['full', 'relative']"></loader>
</div>

<div ng-if="!status.loading && versions.length">
	<field
		class="u-width-6-6"
		label="'Label' | translate"
		name="version-label"
		type="'text'"
		model="ngDialogData.item.meta.label"
		required="true"
		placeholder="'Version label' | translate"
		on-change="versionUpdated"
	></field>

	<div class="acpaasportalversionbumper-modal u-clear" ng-if="ngDialogData.type.label === 'product'">
		<field
			class="u-width-2-6 fl"
			label="'Major' | translate"
			name="version-major"
			type="'number'"
			model="ngDialogData.version.major"
			required="true"
			minvalue="minvalue.major"
			placeholder="0"
			on-change="versionUpdated"
		></field>
		<field
			class="u-width-2-6 fl"
			label="'Minor' | translate"
			name="version-minor"
			type="'number'"
			model="ngDialogData.version.minor"
			required="true"
			minvalue="minvalue.minor"
			placeholder="0"
			on-change="versionUpdated"
		></field>
		<field
			class="u-width-2-6 fl"
			label="'Patch' | translate"
			name="version-patch"
			type="'number'"
			model="ngDialogData.version.patch"
			required="true"
			minvalue="minvalue.patch"
			placeholder="0"
			on-change="versionUpdated"
		></field>
	</div>

	<div class="u-clear" ng-if="ngDialogData.type.label === 'api'">
		<field
			class="u-width-2-6 fl"
			label="'Version' | translate"
			name="version"
			type="'number'"
			model="ngDialogData.version.major"
			required="true"
			minvalue="minvalue.major"
			placeholder="0"
			on-change="versionUpdated"
		></field>
	</div>

</div>

<div ng-if="!status.loading && !versions.length">
	<p>No versions found for this {{ngDialogData.type.label}}.</p>
</div>

<div class="c-buttonGroup">
	<button ng-click="closeThisDialog()" class="c-button c-button--alpha c-button--sm c-button--floatLeft" translate>cancel</button>
	<button ng-if="versions.length" ng-click="bumpVersion()" ng-disabled="!status.valid || status.loading" class="c-button c-button--error c-button--sm c-button--floatRight" translate>confirm</button>
	<button ng-if="!versions.length" ng-click="newVersion()" class="c-button c-button--error c-button--sm c-button--floatRight" translate>new version</button>
</div>
